/* * {
  border: 1px solid;
} */
#body {
  display: flex;
  position: relative;
  height: 100%;
}
#landing {
  display: flex;
  width: 100%;
  height: 810px;
}
#reason-div {
  height: 33.33%;
}
#bottom-page {
  height: 33.33%;
}

/* ////////////////////////////////////////////////// */
#home-page-left {
  display: flex;
  width: 50%;
}
#treat {
  display: flex;
  max-width: 350px;
  position: absolute;
  top: 585px;
  left: 370px;
  overflow: none;
}
#burger-fries {
  display: flex;
  position: absolute;
  top: -8px;
  left: 0;
  height: 105%;
  width: 50%;
  background-image: url("https://media-cdn.grubhub.com/image/upload/c_scale,w_1650/q_50,dpr_auto,f_auto,fl_lossy,c_crop,e_vibrance:20,g_center,h_900,w_800/v1534256595/Onboarding/Burger.jpg");
  background-size: 737px;
  background-repeat: no-repeat;
}

#grubhub {
  font-size: 50px;
  font-family: sans-serif;
  color: white;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 100px;
  letter-spacing: -3px;
}

/* ////////////////////////////////////////////////// */

#home-page-right {
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-self: center;
  /* text-align: center; */
  align-content: center;
}
.top-right-links {
  display: flex;
  font-size: 20px;
  color: blue;
  flex-direction: row;
  justify-content: flex-end;
  font-family: sans-serif;
  position: absolute;
  right: 100px;
  top: 60px;
}
.top-right-links a {
  margin-left: 40px;
}
#address-input-div {
  height: 40%;
  /* flex-direction: column; */
  width: 500px;
  position: relative;
  top: 250px;
  left: 100px;
}

#address-input-div h1 {
  display: flex;
  font-size: 50px;
  font-family: sans-serif;
  line-height: 50px;
  width: 500px;
}

#address-input {
  background-color: rgb(235, 235, 235);
  border-radius: 0px 3px 3px 0px;
  border: none;
  width: 250px;
  position: absolute;
  height: 42px;
  left: 50px;
  outline: none;
}

#location {
  border: none;
  display: flex;
  width: 500px;
  height: 50px;
  align-content: flex-start;
  font-size: 12px;
  
}

#location-button {
  display: flex;
  border: none;
  border-radius: 4px 0px 0px 4px;
  background-color: rgb(235, 235, 235);
  width: 50px;
  height: 44px;
  z-index: 1;
  position: absolute;
  left: 0px;
  text-align: center;
}

#location img {
  display: inline-block;
  border: none;
  border-radius: 100px;
  background-color: rgb(235, 235, 235);
  width: 35px;
  height: 35px;
  z-index: 1;
}

#enter {
  border-radius: 0px 4px 4px 0px;

  width: 50px;
  height: 44px;
  position: absolute;
  left: 303px;
  background-color: rgb(237, 10, 22);
  color: white;
}

/* ///////////////////// Reasons to eat CRUBHUB ////////////////// */

#reasons {
  display: flex;
  height: 350px;
  width: 100%;
  justify-content:center;
align-items:center;
}

#local-pickup {
  width: 100%;
  height: 700px;
  
}

#reasons-inner-div {
  display: flex;
  flex-direction:row-reverse;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  height: 315px;
  font-family: sans-serif;
  font-size:15px;
}

#reasons-inner-div div {
  display: flex;
  height:100px;
  width:35%;
  height: 210px;
}

#reason1, #reason2, #reason3 {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}
#reason1 img, #reason2 img, #reason3 img{
display: flex;
align-self: center;
width:25%;
height: 40px;
position: relative;
top:-20px;
}
#reason1 h3, #reason2 h3, #reason3  h3{
width:100%;
height: 30px;
text-align: center;
position: relative;
top:20px;
}